* {
    padding: 0;
    margin: 0;
    background-color: transparent;
    scroll-behavior: smooth;
}

html {
    background-image: url('../Profile/pictures/image.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

#navbar {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-content: center;
    justify-content: space-around;
    margin: 1rem;
    border-radius: 1rem;
    background-color: rgba(127, 255, 212, 0.266);
    height: 30px;
    align-items: center;
    width: 95%;
}

header {
    position: sticky;
    top: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

#nav-container {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}

#navbar a {
    color: rgb(178, 244, 244);
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
}

.navele:hover {
    transform: scale(1.25);
}

.window {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#photo {
    height: 15rem;
    width: 15rem;
    background-size: cover;
    image-orientation: flip;
    border-radius: 50%;
    background-image: url(/Profile/pictures/Profile_Pic.jpg);
    box-shadow: 0 0 5rem 1rem rgb(0, 128, 128);
    transition: box-shadow 1s infinite ease-in-out;
}

#detail {
    font-size: x-large;
    color: rgba(242, 115, 170, 0.888);
    max-width: 50%;
    min-width: 30%;
}

#nameplate {
    font-size: 5rem;
    color: bisque;
}

#skill {
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    row-gap: 30px;
    column-gap: 30px;
}

.skill-img {
    padding: 1rem;
    height: 8rem;
    width: auto;
}

#contact {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#contact_container {
    color: azure;
    background-color: bisque;
}

#about {
    background-color: wheat;
}

.footer{
    font-size: x-large; 
    width : 50%;
    color: rgb(54, 69, 79); 
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}

#contact{
    height: 45%;
    background-color: bisque;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    
}


#copyright{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content:center ;
    width: 100%;
    min-width: 30%;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    background-color: rgba(127, 255, 212, 0.266);
    height: 20px;
}
@media (max-width: 600px) {
    #nav-container,#home_container {
        width : 500px;
    }

    #nameplate {
        font-size: 3rem;
        color: bisque;
    }
    #photo {
        height: 10rem;
        width: 10rem;
    }
    #detail {
        align-content: center;
    }
    #name_container {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    #img_container {
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
    }

}
